body{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: work-sanfont;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sanfont:{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bg{
  background-color: rgba(255, 144, 14, 0.1);
}
/* shared styles */
.display-flex{
  display: flex;
}
/* nav-bar */
.nav-bar{
  justify-content: space-between;
}
.nav-iteam{
  list-style: none;
  margin-right: 30px;
}
.nav-links{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: rgba(66, 66, 66, 1);
}
.nav-bar, .bannar{
  max-width: 1440px;
  margin: 0 auto;

}